n8n-workflow.json
{
  "name": "Streak Life - Notificações de Hábitos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "cron-15min",
      "name": "Cron (15 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_pending_schedules",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "buscar-habitos",
      "name": "Buscar Hábitos Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ Array.isArray($json) ? $json : [] }}",
        "options": {}
      },
      "id": "split-items",
      "name": "Separar em Itens",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Você é um assistente de saúde com tom {{ $json.tom }}. Crie um lembrete curto (máximo 2 frases) e motivador para {{ $json.nome_usuario }} realizar o hábito: {{ $json.nome_habito }}. Seja {{ $json.tom === 'amigavel' ? 'leve e acolhedor' : $json.tom === 'direto' ? 'objetivo e prático' : 'energético e inspirador' }}. Responda apenas com o texto do lembrete, sem aspas.\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "gemini-reminder",
      "name": "Gerar Lembrete (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-message",
              "name": "message",
              "value": "={{ $json.candidates[0].content.parts[0].text.trim() }}",
              "type": "string"
            },
            {
              "id": "keep-user",
              "name": "user_id",
              "value": "={{ $node['Separar em Itens'].json.user_id }}",
              "type": "string"
            },
            {
              "id": "keep-habit",
              "name": "habit_id",
              "value": "={{ $node['Separar em Itens'].json.habit_id }}",
              "type": "string"
            },
            {
              "id": "keep-whatsapp",
              "name": "whatsapp",
              "value": "={{ $node['Separar em Itens'].json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "keep-push",
              "name": "push_token",
              "value": "={{ $node['Separar em Itens'].json.push_token }}",
              "type": "string"
            },
            {
              "id": "keep-canais",
              "name": "canais",
              "value": "={{ $node['Separar em Itens'].json.canais }}",
              "type": "array"
            },
            {
              "id": "keep-nome",
              "name": "nome_habito",
              "value": "={{ $node['Separar em Itens'].json.nome_habito }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extrair-mensagem",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.whatsapp }}",
              "operation": "isNotEmpty"
            }
          ],
          "boolean": [
            {
              "value1": "={{ Array.isArray($json.canais) && $json.canais.includes('whatsapp') }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "if-whatsapp",
      "name": "Tem WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.whatsapp }}\",\n  \"text\": \"🌱 *{{ $json.nome_habito }}*\\n\\n{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 80]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.push_token }}",
              "operation": "isNotEmpty"
            }
          ],
          "boolean": [
            {
              "value1": "={{ Array.isArray($json.canais) && $json.canais.includes('push') }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "if-push",
      "name": "Tem Push Token?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUSH_SERVER_URL }}/send-push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.PUSH_SERVER_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscription\": {{ $json.push_token }},\n  \"title\": \"Streak Life 🌱\",\n  \"body\": \"{{ $json.message }}\",\n  \"habitId\": \"{{ $json.habit_id }}\",\n  \"userId\": \"{{ $json.user_id }}\"\n}",
        "options": {}
      },
      "id": "send-push",
      "name": "Enviar Web Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 380]
    }
  ],
  "connections": {
    "Cron (15 min)": {
      "main": [[{ "node": "Buscar Hábitos Pendentes", "type": "main", "index": 0 }]]
    },
    "Buscar Hábitos Pendentes": {
      "main": [[{ "node": "Separar em Itens", "type": "main", "index": 0 }]]
    },
    "Separar em Itens": {
      "main": [[{ "node": "Gerar Lembrete (Gemini)", "type": "main", "index": 0 }]]
    },
    "Gerar Lembrete (Gemini)": {
      "main": [[{ "node": "Extrair Mensagem", "type": "main", "index": 0 }]]
    },
    "Extrair Mensagem": {
      "main": [[
        { "node": "Tem WhatsApp?", "type": "main", "index": 0 },
        { "node": "Tem Push Token?", "type": "main", "index": 0 }
      ]]
    },
    "Tem WhatsApp?": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }], []]
    },
    "Tem Push Token?": {
      "main": [[{ "node": "Enviar Web Push", "type": "main", "index": 0 }], []]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
